body {
    margin: 0px;
    color: rgb(20,20,20);
    background-color: rgb(245,245,245);
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #E47D7E;
}

p {
    font-size: 16px;
    line-height: 20px;
}

#my-header {
  font-family: 'Kalam', cursive;  
  text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    background: url("https://picsum.photos/1300/600?grayscale");
}
#banniere {
  margin-top: 10px;
}
.feature {
    padding: 40px;
    font-weight: 30;
}
.feature {
    font-size: 24px;
}

.feature img {
    padding: 10px;
    margin: 10px 10px 10px 10px;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 5px 3px 13px 7px #302ecd;
}


#my-footer {
    padding: 30px;
    background: rgb(30,30,30);
    color: lightgrey;
}
#devise {
  font-family: 'Shantell Sans', cursive;
}
#my-footer i {
  margin: 0px 2px 0px 2px;
  text-align: center;
}

